@font-face {
  font-family: "Poppins";
  src: url("/assets/Poppins-Regular.ttf");
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: #505050;
  background-color: #FFFFFF;
}
h1 {
  font-size: 55px;
  font-weight: bold;
  color: #031C5B;
  font-family: "Poppins", sans-serif;
}
h2 {
  font-size: 28px;
  font-weight: bold;
  color: #031C5B;
  font-family: "Poppins", sans-serif;
}
.side-bar {
  background-color: #F0F7FF;
  width: auto;
}
.site-title {
  background-image: url("/assets/LM-Logo-_Horizontal-White.png");
  background-color: #031C5B;
}
a {
  color: #031C5B;
  text-decoration: none;
}
a:hover {
  color: #031C5B;
  background-image: none;
  text-decoration: underline;
}
